@import 'tailwindcss';
@import 'tw-animate-css';
/* @custom-variant dark (&:is(.dark *)); */
@import './theme.css';

@custom-variant dark (&:is(.dark *));

.custom-scrollbar::-webkit-scrollbar {
    display: none;
}

.custom-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@layer utilities {
    .zigzag-text {
        --c: #1095c1; /* Color for the zigzag lines */
        --s: 0.15em; /* Size of the zigzag lines */

        line-height: 1.1em;
        padding-bottom: calc(2.1 * var(--s));
        background:
            conic-gradient(from 135deg at top, var(--c) 90deg, #0000 0) left 0 bottom var(--s) /
                calc(2 * var(--s)) var(--s) repeat-x,
            conic-gradient(from -45deg at bottom, var(--c) 90deg, #0000 0) left var(--s) bottom 0 /
                calc(2 * var(--s)) var(--s) repeat-x;
    }
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --animate-cell-ripple: cell-ripple var(--duration, 200ms) ease-out none 1 var(--delay, 0ms);

    @keyframes cell-ripple {
        0% {
            opacity: 0.4;
        }
        50% {
            opacity: 0.8;
        }
        100% {
            opacity: 0.4;
        }
    }

    --animate-shiny-text: shiny-text 8s infinite;
    @keyframes shiny-text {
        0%,
        90%,
        100% {
            background-position: calc(-100% - var(--shiny-width)) 0;
        }
        30%,
        60% {
            background-position: calc(100% + var(--shiny-width)) 0;
        }
    }
}

/* Regular */
@font-face {
    font-family: 'Nocturn';
    src: url('/fonts/Nocturn-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* SemiBold */
@font-face {
    font-family: 'Nocturn';
    src: url('/fonts/Nocturn-semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Bold */
@font-face {
    font-family: 'Nocturn';
    src: url('/fonts/Nocturn-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
    html {
        scroll-behavior: smooth;
    }
}

body {
    font-family: 'Nocturn', sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.5s ease-out both;
}

@keyframes scalePulse {
    0% {
        transform: scale(1.05);
    }

    20% {
        transform: scale(1.1);
    }

    40% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1.05);
    }
}

.animate-scalePulse {
    animation: scalePulse 3.5s ease-in-out infinite;
}

.delay-0 {
    animation-delay: 0s;
}

.delay-700 {
    animation-delay: 0.3s;
}

.delay-1400 {
    animation-delay: 0.6s;
}

.fade-dots {
    -webkit-mask-image:
        linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%),
        linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
    mask-image:
        linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%),
        linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);

    -webkit-mask-composite: destination-in;
    mask-composite: intersect;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;

    pointer-events: none;
}

.outlined-text {
    -webkit-text-stroke: 2px #c4c4c4;
    color: transparent;
}

@layer utilities {
    @keyframes float {
        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
            /* Adjust the float height here */
        }
    }

    .animate-float {
        animation: float 2s ease-in-out infinite;
    }
}

.safe-colors * {
    background-color: #000 !important;
    /* example */
    color: #fff !important;
}

:root {
    --rct-color-focustree-item-hover-bg: #121111 !important;
    --rct-color-focustree-item-active-bg: #121111 !important;
    --rct-color-focustree-item-selected-bg: #121111 !important;
}

@layer utilities {
    .text-stroke {
        -webkit-text-stroke: 1.2px #fdf9ef; /* width + color */
        -webkit-text-fill-color: transparent; /* optional */
    }
}

.shadow-inset-center {
    -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: shadow-inset-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ---------------------------------------------- */

@-webkit-keyframes shadow-inset-center {
    0% {
        -webkit-box-shadow: inset 0 0 0 0 transparent;
        box-shadow: inset 0 0 0 0 transparent;
    }
    100% {
        -webkit-box-shadow: inset 0 0 14px 0 rgba(0, 0, 0, 1); /* Full black */
        box-shadow: inset 0 0 14px 0 rgba(0, 0, 0, 1); /* Full black */
    }
}

@keyframes shadow-inset-center {
    0% {
        -webkit-box-shadow: inset 0 0 0 0 transparent;
        box-shadow: inset 0 0 0 0 transparent;
    }
    100% {
        -webkit-box-shadow: inset 0 0 14px 0 rgba(0, 0, 0, 1); /* Full black */
        box-shadow: inset 0 0 14px 0 rgba(0, 0, 0, 1); /* Full black */
    }
}

body {
    color: white;
    margin: 0;
    text-align: center;
    background-color: black;
}
canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.header {
    top: 42%;
}
.header-content {
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.footer {
    bottom: 3%;
}
.description {
    color: gray;
    padding-top: 50px;
}
a,
a:hover,
a:visited {
    color: white;
    text-decoration: none;
}
.disable-selection {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.btn {
    border-radius: 100px;
    padding: 10px 25px;
}

/* Infinite Moving Cards Animation */
.scroller {
    --animation-duration: 1000s;
    --animation-direction: forwards;
}

.animate-scroll {
    animation: scroll var(--animation-duration) linear infinite var(--animation-direction);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-50%));
    }
}

.gradient-blur {
    position: fixed;
    z-index: 5;
    inset: 0 0 auto 0;
    height: 12%;
    pointer-events: none;
}

.gradient-blur > div,
.gradient-blur::before,
.gradient-blur::after {
    position: absolute;
    inset: 0;
}

.gradient-blur::before {
    content: '';
    z-index: 1;
    backdrop-filter: blur(0.5px);
    mask: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 12.5%,
        rgba(0, 0, 0, 1) 25%,
        rgba(0, 0, 0, 0) 37.5%
    );
}

.gradient-blur > div:nth-of-type(1) {
    z-index: 2;
    backdrop-filter: blur(1px);
    mask: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 12.5%,
        rgba(0, 0, 0, 1) 25%,
        rgba(0, 0, 0, 1) 37.5%,
        rgba(0, 0, 0, 0) 50%
    );
}

.gradient-blur > div:nth-of-type(2) {
    z-index: 3;
    backdrop-filter: blur(2px);
    mask: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 25%,
        rgba(0, 0, 0, 1) 37.5%,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 0) 62.5%
    );
}

.gradient-blur > div:nth-of-type(3) {
    z-index: 4;
    backdrop-filter: blur(4px);
    mask: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 37.5%,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 1) 62.5%,
        rgba(0, 0, 0, 0) 75%
    );
}

.gradient-blur > div:nth-of-type(4) {
    z-index: 5;
    backdrop-filter: blur(8px);
    mask: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 1) 62.5%,
        rgba(0, 0, 0, 1) 75%,
        rgba(0, 0, 0, 0) 87.5%
    );
}

.gradient-blur > div:nth-of-type(5) {
    z-index: 6;
    backdrop-filter: blur(16px);
    mask: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 62.5%,
        rgba(0, 0, 0, 1) 75%,
        rgba(0, 0, 0, 1) 87.5%,
        rgba(0, 0, 0, 0) 100%
    );
}

.gradient-blur > div:nth-of-type(6) {
    z-index: 7;
    backdrop-filter: blur(32px);
    mask: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 75%,
        rgba(0, 0, 0, 1) 87.5%,
        rgba(0, 0, 0, 1) 100%
    );
}

.gradient-blur::after {
    content: '';
    z-index: 8;
    backdrop-filter: blur(64px);
    mask: linear-gradient(to top, rgba(0, 0, 0, 0) 87.5%, rgba(0, 0, 0, 1) 100%);
}

.glow-text {
    text-shadow:
        0 0 12px rgba(108, 68, 252, 0.4),
        0 0 24px rgba(108, 68, 252, 0.2);
}
